body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	overflow-x: hidden;
}

@media screen and (min-width: 0px){
	.header{
		height: 11vw;
		width:  100%;
		box-shadow: 0 0 1.5vw #000;
		z-index: 2;
		position: fixed;
	}

		.header > .c_1 {
			height: 6vw;
			width: 100%;
			background-color: #fff;
			border-bottom: 0.5vw solid #b37288;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: relative;
		}

			.header > .c_1 > .c_logo{
				height: 6vw;/*1*/
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
			}

				.header > .c_1 > .c_logo > img{
					max-height: 100%;
					padding-left: 4vw;/*1*/
				}

				.header > .c_1 > .c_logo > h3{
					padding-left: 1.5vw;/*0.5*/
					font-size: 4vw;/*1*/
					color: #cc99aa;
					font-family: calibri;
					user-select: none;
				}

			.bi-arrow-left-circle-fill{
				max-height: 5vw;
				margin-right: 4vw;
				color: #b0b0b0;
				transition: color 0.5s;
			}

			.bi-arrow-left-circle-fill:hover{
				color: #cc99aa;
			}

		.header > .container_slider{
			height: 5vw;
			background-color: #cc99aa;
			position: relative;
		}

			.header > .container_slider > .slide1{
				height: 5vw;
				width: 100%;
				transition: left 2s;
				position: absolute;
				left: 0;
			}

				.header > .container_slider > .slide1 > h1{
					font-size: 4vw;
					line-height: 0.5vw;
					font-family: Lucida Calligraphy,calibri;
					color:  #fff;
					text-align: center;
					user-select: none;
					position: relative;
				}

			.header > .container_slider > .slide2{
				height: 5vw;
				width: 100%;
				transition: left 2s;
				position: absolute;
				left: 100%;
			}

				.header > .container_slider > .slide2 > h1{
					font-size: 3vw;
					line-height: 0.5vw;
					font-family: Lucida Calligraphy,calibri;
					color:  #fff;
					text-align: center;
					user-select: none;
					position: relative;
				}

	.container_center{
		width: 100%;
		overflow-y: overlay;
		overflow-x: hidden;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		z-index:  1;
		position: absolute;
		top: 11vw;
	}

		.container_center > div{
			width: 80vw;
			padding: 1vw 0 1vw 0;
			border-bottom: 0.1vw solid grey;
			animation-name: spawn;
			animation-duration: 5s;
		}

		.container_center > div > a{
			text-decoration: none;
		}

	h2{
		font-size: 4.5vw;
		color: #00b57e;
		font-family: calibri;
		text-align: center;
		user-select: none;
	}

	p{
		font-size: 3.5vw;
		color: #6b6b6b;
		font-family: calibri;
		text-align: center;
		user-select: auto;
	}

	a{
		text-align: center;
		font-family: calibri;
		font-size: 3.5vw;
		color: #00b57e;
		text-decoration: none;
		transition: color 0.5s;	
		position:  relative;
	}

	a:hover{
		color: #cc99aa;
	}

	@keyframes spawn{
		0%{
			opacity: 0%;
		}

		100%{
			opacity: 100%
		}
	}

	img{
		user-select: none;
		max-width: 100%;
	}

	iframe{
		user-select: none;
		width: 80vw;
		height: 45vw;
	}
}

@media screen and (min-width: 800px){
	.header{
		height: 9vw;
		width:  100%;
		box-shadow: 0 0 1.5vw #000;
		z-index: 2;
		position: fixed;
	}

		.header > .c_1 {
			height: 5vw;
			width: 100%;
			background-color: #fff;
			border-bottom: 0.4vw solid #b37288;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: relative;
		}

			.header > .c_1 > .c_logo{
				height: 5vw;/*1*/
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
			}

				.header > .c_1 > .c_logo > img{
					max-height: 100%;
					padding-left: 3vw;/*1*/
				}

				.header > .c_1 > .c_logo > h3{
					padding-left: 1vw;/*0.5*/
					font-size: 3vw;/*1*/
					color: #cc99aa;
					font-family: calibri;
					user-select: none;
				}

			.bi-arrow-left-circle-fill{
				max-height: 4vw;
				margin-right: 3vw;
				color: #b0b0b0;
				transition: color 0.5s;
			}

			.bi-arrow-left-circle-fill:hover{
				color: #cc99aa;
			}

		.header > .container_slider{
			height: 4vw;
			background-color: #cc99aa;
			position: relative;
		}

			.header > .container_slider > .slide1{
				height: 4vw;
				width: 100%;
				transition: left 2s;
				position: absolute;
				left: 0;
			}

				.header > .container_slider > .slide1 > h1{
					font-size: 3vw;
					line-height: 0.4vw;
					font-family: Lucida Calligraphy,calibri;
					color:  #fff;
					text-align: center;
					user-select: none;
					position: relative;
				}

			.header > .container_slider > .slide2{
				height: 4vw;
				width: 100%;
				transition: left 2s;
				position: absolute;
				left: 100%;
			}

				.header > .container_slider > .slide2 > h1{
					font-size: 3vw;
					line-height: 0.4vw;
					font-family: Lucida Calligraphy,calibri;
					color:  #fff;
					text-align: center;
					user-select: none;
					position: relative;
				}

	.container_center{
		width: 100%;
		overflow-y: overlay;
		overflow-x: hidden;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		z-index:  1;
		position: absolute;
		top: 9vw;
	}

		.container_center > div{
			width: 70vw;
			padding: 1vw 0 1vw 0;
			border-bottom: 0.1vw solid grey;
			animation-name: spawn;
			animation-duration: 5s;
		}

		.container_center > div > a{
			text-decoration: none;
		}

	h2{
		font-size: 4vw;
		color: #00b57e;
		font-family: calibri;
		text-align: center;
		user-select: none;
	}

	p{
		font-size: 3vw;
		color: #6b6b6b;
		font-family: calibri;
		text-align: center;
		user-select: auto;
	}

	a{
		text-align: center;
		font-family: calibri;
		font-size: 3vw;
		color: #00b57e;
		text-decoration: none;
		transition: color 0.5s;	
		position:  relative;
	}

	a:hover{
		color: #cc99aa;
	}

	@keyframes spawn{
		0%{
			opacity: 0%;
		}

		100%{
			opacity: 100%
		}
	}

	img{
		user-select: none;
		max-width: 100%;
	}

	iframe{
		user-select: none;
		width: 70vw;
		height: 39.375vw;
	}
}

@media only screen and (min-width: 1024px){

	.header{
		height: 7vw;
		width:  100%;
		box-shadow: 0 0 1.5vw #000;
		z-index: 2;
		position: fixed;
	}

		.header > .c_1 {
			height: 4vw;
			width: 100%;
			background-color: #fff;
			border-bottom: 0.3vw solid #b37288;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			position: relative;
		}

			.header > .c_1 > .c_logo{
				height: 4vw;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
			}

				.header > .c_1 > .c_logo > img{
					max-height: 100%;
					padding-left: 2vw;
				}

				.header > .c_1 > .c_logo > h3{
					padding-left: 0.5vw;
					font-size: 2vw;
					color: #cc99aa;
					font-family: calibri;
					user-select: none;
				}

			.bi-arrow-left-circle-fill{
				max-height: 3vw;
				margin-right: 2vw;
				color: #b0b0b0;
				transition: color 0.5s;
			}

			.bi-arrow-left-circle-fill:hover{
				color: #cc99aa;
			}

		.header > .container_slider{
			height: 3vw;
			background-color: #cc99aa;
			position: relative;
		}

			.header > .container_slider > .slide1{
				height: 3vw;
				width: 100%;
				transition: left 2s;
				position: absolute;
				left: 0;
			}

				.header > .container_slider > .slide1 > h1{
					font-size: 2vw;
					line-height: 0.3vw;
					font-family: Lucida Calligraphy,calibri;
					color:  #fff;
					text-align: center;
					user-select: none;
					position: relative;
				}

			.header > .container_slider > .slide2{
				height: 3vw;
				width: 100%;
				transition: left 2s;
				position: absolute;
				left: 100%;
			}

				.header > .container_slider > .slide2 > h1{
					font-size: 2vw;
					line-height: 0.3vw;
					font-family: Lucida Calligraphy,calibri;
					color:  #fff;
					text-align: center;
					user-select: none;
					position: relative;
				}

	.container_center{
		width: 100%;
		overflow-y: overlay;
		overflow-x: hidden;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		z-index:  1;
		position: absolute;
		top: 7vw;
	}

		.container_center > div{
			width: 60vw;
			padding: 1vw 0 1vw 0;
			border-bottom: 0.1vw solid grey;
			animation-name: spawn;
			animation-duration: 5s;
		}

		.container_center > div > a{
			text-decoration: none;
		}

	h2{
		font-size: 3vw;
		color: #00b57e;
		font-family: calibri;
		text-align: center;
		user-select: none;
	}

	p{
		font-size: 2vw;
		color: #6b6b6b;
		font-family: calibri;
		text-align: center;
		user-select: auto;
	}

	a{
		text-align: center;
		font-family: calibri;
		font-size: 2vw;
		color: #00b57e;
		text-decoration: none;
		transition: color 0.5s;	
		position:  relative;
	}

	a:hover{
		color: #cc99aa;
	}

	@keyframes spawn{
		0%{
			opacity: 0%;
		}

		100%{
			opacity: 100%
		}
	}

	img{
		user-select: none;
		max-width: 100%;
	}

	iframe{
		user-select: none;
		width: 60vw;
		height: 33.75vw;
	}
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border: none;
  border-radius: 1vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #b37288;
}
::-webkit-scrollbar-thumb:active {
  background: #b37288;
}
::-webkit-scrollbar-track {
  background:    #f5f5f5;
  border: none;
  border-radius: 5px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}